/* Estilos Globais */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;

  width: 100%;
  background-color: #e8f6e9;
}

header {
  position: fixed;
  z-index: 999999;
  top: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  /* background-color: #eee; */
  padding: 0rem 2rem;
}

header h1 {
  color: #324b27;
}

ul {
  display: flex;
  gap: 2rem;
}

ul li {
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
  color: #324b27;
}

ul li:focus {
  color: #65964e;
}

a {
  text-decoration: none;
  color: #324b27;
}

a:focus,
a:active {
  font-weight: bold;
}

.nav-bar {
  /* display: block; */
  /* position: relative; */
}

.drawer-header {
  display: none;
}

.contact-btn {
  background-color: #65964e;
  border: none;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  color: #fff;
}

.contact-btn span {
  align-self: center;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}

.menu-btn {
  border: none;
  display: none;
}

.close-btn {
  display: none;
  border: none;
  background-color: transparent;
}

.menu-btn:hover {
  cursor: pointer;
  transform: scale(1.1);

  transition: 0.5s;
}

/* Begin section */

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
}

#begin {
  padding-top: 5rem;
}

.content {
  max-width: 780px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
}

.content div h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #324b27;
  text-align: center;
}

.content div span {
  display: block;
  color: #324b27;
  font-weight: bold;
  text-align: center;
}

.cta-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #65964e;
  color: #fff;
  font-weight: 700;
}

.img-list {
  /* max-height: 311px; */
  height: auto;
  width: 100%;
  max-width: 140px;
}

.img-carousel {
  margin-top: 2rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
}

.img-container {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  transition-delay: 0.2s;
  transition: 0.2s ease-in-out;
}

.img-container:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.img-container,
.img-container .img-list {
  border-radius: 0.5rem;
}

/* Main features section */

.main-features {
  padding-top: 4rem;
  background-color: #fff;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #324b27;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  height: 240px;
  background-color: #e8f6e9;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  gap: 0.75rem;
  text-align: center;
}

.feature-card:hover {
  transform: scale(1.1);
}

.feature-card div i {
  color: #65964e;
}

.feature-card div h3 {
  color: #324b27;
  font-weight: 700;
}

.feature-card div .std-span {
  font-weight: normal;
  font-size: 0.875rem;
  /* color: #65964e; */
  color: #324b27;
}

/* About section */
.white {
  background-color: #fff;
}
.green {
  background-color: #e8f6e9;
}

.contact-section {
  height: 75vh;
}

.psiconote-goal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin-top: 1rem;
}

.contact-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact-row div a {
  text-decoration: none;
  color: #65964e;
  font-weight: bold;
}

footer {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  font-size: 0.875rem;
  font-weight: bold;
}

.nav-bar {
  /* display: none; */
  position: fixed;
  top: 0;
  left: -250px;
  /* width: 75%; */
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0rem 1rem 1rem 0rem;
  padding-left: 1rem;
}

@media (max-width: 576px) {
  html {
    font-size: 0.875rem;
  }
  .menu-btn,
  .close-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* vertical-align: bottom; */
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .menu-btn {
    position: absolute;
    left: 2rem;
    background-color: transparent;
  }

  header {
    width: 100%;
    justify-content: center;
  }

  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .drawer-header span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #65964e;
  }

  .nav-bar {
    /* display: none; */
    position: fixed;
    top: 0;
    left: -250px;
    /* width: 75%; */
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0rem 1rem 1rem 0rem;
    padding-left: 1rem;
  }

  .nav-bar.open {
    left: 0;
  }

  .contact {
    display: none;
  }

  .nav-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;

    gap: 3rem;
    font-size: 1.25rem;
  }

  ul li {
    font-weight: bold;
    /* vertical-align: text-top; */
    display: block;
    width: 100%;
  }

  ul li a {
    display: block;
    width: 100%;
    height: 3rem;
    align-content: center;
  }

  ul li a img {
    vertical-align: text-top;
    margin-right: 0.25rem;
  }

  .img-carousel {
    grid-template-columns: repeat(2, 1fr);
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .features-container {
    /* height: auto; */
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-btn {
    display: none;
  }

  .contact {
    display: block;
  }
}
